
{% if include.heading-type %}
    {% if include.heading-type == 'h1' %}
        {% assign heading-type = 'h1' %}
        {% assign arrow-type = 'h1arrow' %}
    {% endif %}
    {% if include.heading-type == 'h2' %}
        {% assign heading-type = 'h2' %}
        {% assign arrow-type = 'h2arrow' %}
    {% endif %}
    {% if include.heading-type == 'h3' %}    
        {% assign heading-type = 'h3' %}    
        {% assign arrow-type = 'h3arrow' %}
    {% endif %}
{% else %}
    {% assign heading-type = 'h1' %}
    {% assign arrow-type = 'h1arrow' %}
{% endif %}

<div class="collapse-list-heading {{ include.classes }} {% unless include.expanded == 'true' %}collapsed{% endunless %}"
     data-toggle="collapse"
     data-target="#{{ include.target-id }}"
     aria-controls="{{ include.target-id }}" 
     aria-expanded="{% if include.expanded == 'true' %}true{% else %}false{% endif %}">
    <i class="arrow {{ arrow-type }}"></i>
    <{{ heading-type }}>
        {{ include.heading }}
    </{{ heading-type }}>
</div>