<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        {% if site.logo-type == 'text' %}
        <h3 class="header__logo--text">
          {{ site.logo-text }} 
        </h3>
        {% endif %}
        
        {% if site.logo-type == 'img' %}
        <div class="header__logo--container">
            {% include site.logo-img %}
        </div>
        {% endif %}
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            {% if item.sublinks %}
            <div class="header__item">
              {% if item.link == 'none' %}
              <a class="header__link" style="cursor:pointer" itemprop="url">
              {% else %}
              <a class="header__link" href="{{ site.baseurl}}{{ item.link }}" itemprop="url">
              {% endif %}
                <span itemprop="name">{{ item.name }}</span>
              </a>          
              <div class="container header__links-wrapper">
                {% for subitem in item.sublinks %}
                {% if subitem.link == 'none' %}
                <a class="header__link" style="cursor:pointer" itemprop="url">
                {% else %}
                <a class="header__link" href="{{ site.baseurl }}{{ subitem.link }}" itemprop="url">
                {% endif %}
                  <span itemprop="name">{{ subitem.name }}</span>
                </a>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <div class="header__item">
              <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
                <span itemprop="name">{{ item.name }}</span>
              </a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
