{% comment %}
<!-- Determine what the full path to the image is -->
<!-- Assumes /assets/img/ as the base path and appends
     posts/ if page is a post or {{ include.base-path }}
     if base-path is passed to the lazy-image include      
-->
{% endcomment %}
{% unless include.image_path %}
  {% if page.layout == 'post' %}
    {%- capture img_base-path -%}
      {{ site.url }}{{ site.baseurl }}/assets/img/posts/
    {%- endcapture -%}
  {% elsif include.base-path %}
    {%- capture img_base-path -%}
      {{ site.url }}{{ site.baseurl }}/assets/img/{{ include.base-path }}/
    {%- endcapture -%}
  {% else %}
    {%- capture img_base-path -%}
      {{ site.url }}{{ site.baseurl }}/assets/img/
    {%- endcapture -%}
  {% endif %}
{% endunless %}

{% comment %}
<!-- Make assumptions about the div container class if
     page is a post
-->
{% endcomment %}
{% if include.container-class %}
  {% assign container-class = include.container-class %}
{% else %}
  {% if page.layout == 'post' %}
    {% assign container-class = 'post-image-container' %}
  {% endif %}
{% endif %}

{% comment %}
<!-- Make assumptions about the title class if
     page is a post
-->
{% endcomment %}
{% if include.title-class %}
  {% assign title-class = include.title-class %}
{% else %}
  {% if page.layout == 'post' %}
    {% assign title-class = 'post-image-title' %}
  {% endif %}
{% endif %}

{% comment %}
<!-- Make assumptions about the caption class if
     page is a post
-->
{% endcomment %}
{% if include.caption-class %}
  {% assign caption-class = include.caption-class %}
{% else %}
  {% if page.layout == 'post' %}
    {% assign caption-class = 'post-image-caption' %}
  {% endif %}
{% endif %}

{% comment %}
<!-- Make assumptions about the image class if
     page is a post
-->
{% endcomment %}
{% if include.image-class %}
  {% assign image-class = include.image-class %}
{% else %}
  {% if page.layout == 'post' %}
    {% assign image-class = 'post-image' %}
  {% endif %}
{% endif %}

{% comment %}
<!-- Split the image name to get the filename and extension -->
{% endcomment %}
{% assign image_name_split = include.image | split: "." %}

{% comment %}
<!-- If no extension included, assume jpg -->
{% endcomment %}
{% if image_name_split.size == 1 %}
    {% assign ext = 'jpg' %}
{% else %}
    {% assign image = image_name_split[0] %}
    {% assign ext = image_name_split[1] %}
{% endif %}

{%- capture image_path -%}
    {{ img_base-path }}{{ image }}
{%- endcapture -%}

{% comment %}
<!-- Generate paths to responsive sized images -->
{% endcomment %}
{%- capture placehold_path -%}
  {{ image_path }}_placehold.{{ ext }}
{%- endcapture -%}

{%- capture sm_path -%}
  {{ image_path }}_sm.{{ ext }}
{%- endcapture -%}

{%- capture md_path -%}
  {{ image_path }}_md.{{ ext }}
{%- endcapture -%}

{%- capture lg_path -%}
  {{ image_path }}_lg.{{ ext }}
{%- endcapture -%}

{%- capture img_path -%}
  {{ image_path }}.{{ ext }}
{%- endcapture -%}

{% comment %}
<!-- Actual HTML generated -->
{% endcomment %}
<div {% if container-class %}class="{{ container-class }}"{% endif %}>
  {% if include.title %}
    <h3 {% if title-class %}class="{{ title-class }}"{% endif %}>{{ include.title}}</h3>
  {% endif %}
  {% if include.caption %} 
    <p {% if caption-class %}class="{{ caption-class }}"{% endif %}> {{ include.caption}} </p>
  {% endif %}
  {% if include.title or include.caption %}
  <div>
  {% endif %}
  <img 
    data-sizes="auto" 
    class="lazyload blur {{ image-class }} {% unless include.no-full-width %} full-width-img {% endunless %}" 
    src="{{ placehold_path }}" 
    data-srcset="{{ sm_path }} 576w, {{ md_path }} 768w, {{ lg_path }} 992w" 
    {% if include.alt %} 
    alt="{{ include.alt }}" 
    {% endif %}
  />
  <noscript><img class="{{ image-class }}" src="{{ img_path }}"/></noscript>
  {% if include.title or include.caption %}
  </div>
  {% endif %}
</div>