.info-container-1910 {
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}

.image-item-1910 {
    width: 32%;
}

.image-1910 {
    width: 99%;
}

.image-separator-1910 {
    display: none;
}

.lectures-years {
    min-width: 200px;
}

.recordings {
    margin-left: 10px;
}

.recording-video {
    width: 100%; 
    height: 510px; 
    padding: 0px; 
    border: 1px solid #464646;
    margin-bottom: 5px;
}

.recording-info {
    color: $heading-color;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
    border-bottom-style: solid; 
    border-bottom-color: $heading-color;
}

.recording-container {
    margin-left: 5px;
}

@media ( max-width: $lg ) {
    .recording-video {
        height: 430px;
    }
}

@media ( max-width: $md ) {
    .recording-video {
        height: 320px;
    }
}

@media ( max-width: $sm ) {
    .image-item-1910 {
        width: 100%;
    }

    .image-1910 {
        width: 100%;
    }

    .image-item-1910 {
       
    }

    .image-separator-1910 {
        display: block;
    }

    .info-container-1910 {
        display: block;
    }

    .recording-video {
        height: 210px;
    }
}