/* The sidebar menu */
.sidenav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Hide behind footer */
    float: left;
    width: 20%;
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 3.75em;
    margin-left: -2em;  
    height: calc(100vh - 3.75em - 75px - 2.8125em - 2.8125em);
    border: 2px solid #f0f0f0;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}

.sidenav.in-line {
    position: relative;
    margin: 0;
    width: 30%;
    height: auto;
}

/* The navigation menu links */
.sidenav a {
    padding: 3px 8px 3px 10px;
    text-decoration: none;
    display: block;
    border-bottom: 0px;
}

.doc-source-files {
    margin-bottom: 20px;
    font-size: 115%;
}

.doc-content {
    margin-top: 3.75em;
    width: 80%;
    margin-left: 20%;
    padding-left: 15px;
    margin-bottom: 3em;
}

.doc-content-heading {
    text-align: center;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid #f7f7ff;
    margin-bottom: 10px;
}

.doc-container {
    display: flex;
}

.doc-image {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

.nav-list {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
}

.tutorial-wrapper {
    background-color: #f8f8f8; 
    border-radius: 0.3rem; 
    border: solid rgb(222, 226, 230) 1px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media ( min-width: $lg ) {
    .sidenav {
        width: 217px;
    }
}

@media ( min-width: $xl ) {
    .sidenav {
        width: 258px;
    }
}

@media ( max-width: $lg ) {
    .sidenav {
        width: 168px;
    }
}

@media ( max-width: $md ) {
    .sidenav {
        margin-left: 0;
        width: 100%;
        position: relative;
        float: none;
        height: calc(100vh - 3.75em - 20em);
        min-height: 40vh;
    }

    .sidenav.in-line {
        width: 100%;
    }

    .doc-content {
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
        width: 100%;
        display: inline-block;
    }

    .doc-container {
        display: block;
    }
}

/* When screen gets small, fix sidenav height and hide behind footer */
@media ( max-height: 375px ) {
    footer {
        z-index: 2;
        background-color: $bg-color;
    }

    .sidenav {
        min-height: 150px;
    }
}