/* The sidebar menu */
.sidenav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    float: left;
    width: 20%;
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 3.75em;
    margin-left: -2em;  
    height: calc(100vh - 3.75em - 75px - 2.8125em - 2.8125em);
    border: 2px solid #f7f7ff;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}

.sidenav-in-line {
    position: relative;
    margin: 0;
    width: 20%;
    border: 2px solid #f7f7ff;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}

/* The navigation menu links */
.sidenav a {
    padding: 3px 8px 3px 10px;
    text-decoration: none;
    display: block;
    border-bottom: 0px;
}

.sidenav-in-line a {
    padding: 3px 8px 3px 10px;
    text-decoration: none;
    display: block;
    border-bottom: 0px;
}

.doc-content {
    margin-top: 3.75em;
    width: 80%;
    margin-left: 20%;
    padding-left: 15px;
    margin-bottom: 3em;
}

.doc-content-heading {
    text-align: center;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid #f7f7ff;
    margin-bottom: 10px;
}

.doc-container {
    display: flex;
}

.nav-list {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
}

@media ( min-width: $lg ) {
    .sidenav {
        width: 217px;
    }
}

@media ( min-width: $xl ) {
    .sidenav {
        width: 258px;
    }
}

@media ( max-width: $lg ) {
    .sidenav {
        width: 168px;
    }
}

@media ( max-width: $md ) {
    .sidenav {
        margin-left: 0;
        width: 100%;
        position: relative;
        float: none;
        height: calc(100vh - 3.75em - 20em);
    }

    .doc-content {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        display: inline-block;
    }

    .doc-container {
        display: block;
    }
}