/* Larger than tablet */
@media ( min-width: $md ) {
  .header__link {
    .arrow {
      border: solid;
      border-width: 0 1px 1px 0;    
      display: inline-block;
      padding: 3px;
      margin-left: 7px;
      transition: transform 0.5s;
      -webkit-transition: -webkit-transform 0.5s;
    }

    .down {
      transform: translate(25%, -25%) rotate(45deg);
      -webkit-transform: translate(25%, -25%) rotate(45deg);
    }

    .up {
      transform: translate(25%, 25%) rotate(225deg);
      -webkit-transform: translate(25%, 25%) rotate(225deg);
    }
  }

  .header__item {
    position: relative;
    border: 0;
    height: 100%;
    
    .header__links-wrapper {
      overflow: hidden;
      height: 0;
      position: absolute;
      background-color: $bg-color;
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-top-width: 0px;
      min-width: 130px;
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      transform: scaleX(0);
      background: $link-color;
      transition: color 0.2s ease-in-out, transform .2s ease-in-out;
    }

    &:hover {
      color: darken($link-color, 20%);
    }

    &:hover::after,
    :active::after,
    :focus::after {
      transform: scaleX(1);
      color: darken($link-color, 20%);
      transition: transform .2s ease-in-out;
    }
  }
}

/* Larger than normal desktop */
@media (min-width: $lg) {

}

/* Normal desktop */
@media (max-width: $lg) {
  .header__item {
    .header__link {
      padding-left: 9px;
      padding-right: 9px;
    }
  }
}

/* Squished desktop or tablet */
@media (max-width: $md) {
  .header__item {
    .header__links-wrapper {
      display: none;
      padding-right: 0px;
    }
  }
  
  .header__item {
    .header__link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .header__link {
    i {
      display: none;
    }
  }  
}

/* Mobile or tablet */
@media (max-width: $sm) {

}