.exec_board {
    clear: both;
}

// .exec_board_year:before {
//    font-family: 'Glyphicons Halflings';
//    content: "\e114";
//    float: right;
//    transition: all 0.5s;
// }

// .active .exec_board_year:before {
//     -webkit-transform: rotate(180deg);
// 	-moz-transform: rotate(180deg);
// 	transform: rotate(180deg);
// }

.exec_board_year {
    text-align: left;
    width: 100%;
    display: inline-block;

    clear: both;

    h1 {
        float: left;
    }

    .arrow {
        float: left;
        border: solid;
        border-width: 0 3px 3px 0;    
        padding: 6px;
        transition: all 0.5s;
    }

    .down {
        transform: translate(100%, 105%) rotate(45deg);
        -webkit-transform: translate(100%, 105%) rotate(45deg);
    }
  
    .up {
        transform: translate(100%, 120%) rotate(225deg);
        -webkit-transform: translate(100%, 120%) rotate(225deg);
    }  
}

.exec_board_item {
    width: 100%;
}

.exec_board_item {
    display: inline-block;
}

.exec_board_info_container {
    width: 40%;
    float: left;
    display: block;
    padding-left: 10px;
    p {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

.exec_board_image {
    width: 100%;
    object-fit: cover;
}

.exec_board_description {
    width: 60%;
    float: left;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.exec_board_item_footer {
    width: 100%;
    float: left;
    display: block;
    padding-left: 10px;
}

.exec_board_hr_container {
    padding-bottom: 20px;
}

.exec_board_container .collapse .show {
    display: inline-block;
}

@media (max-width: $sm) {
    .exec_board_description {
        float: none;
        width: auto;
    }

    .exec_board_info_container {
        float: none;
        width: auto;
    }

    .exec_board_item_footer {
        float: none;
        width: auto;
    }

    .exec_board_description {
        padding-left: 10px;
        padding-right: 10px;
    }
}