.exec_board_year {
    text-align: left;
    width: 100%;
}

.exec_board_item {
    width: 100%;
}

.exec_board_item {
    display: inline-block;
}

.exec_board_info_container {
    width: 33.333%;
    float: left;
    display: block;
    padding-left: 10px;
    p {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

.exec_board_image {
    width: 100%;
    object-fit: cover;
    // height: 150px;
}

.exec_board_description {
    width: 66.667%;
    float: left;
    display: block;
    // padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    // font-family: adobe-garamond-pro;
    // p {
    //     margin-top: 10px;
    //     margin-bottom: 0px;
    // }
}


.exec_board_item_footer {
    width: 100%;
    float: left;
    display: block;
    padding-left: 10px;
}

.exec_board_hr_container {
    // padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: $sm) {
    .exec_board_description {
        float: none;
        width: auto;
    }

    .exec_board_info_container {
        float: none;
        width: auto;
    }

    .exec_board_item_footer {
        float: none;
        width: auto;
    }

    .exec_board_description {
        padding-left: 10px;
        padding-right: 10px;
    }
}