.header__logo--text {
    margin-bottom: 0rem;
    color: $text-color;
}

/* Change this if you change the logo width */
.header__logo {
    min-width: 100px;
}

@media (min-width: $md) {
    .header__logo {
        margin-right: 0;
    }
}