/* https://css-tricks.com/snippets/css/make-pre-text-wrap/ */
pre {
    > code {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
}

.media-test {
    width: 100px;

    @media (min-width: $lg) {
        width: 4px;
    }

    @media (max-width: $lg) {
        width: 3px;
    }

    @media (max-width: $md) {
        width: 2px;
    }

    @media (max-width: $sm) {
        width: 1px;
    }
}

.div-calendar {
    margin-top: 2cm;
}