.post-image {
    width: 100%;
}

.post-image-title {
    text-align: center;
}

.post-image-caption {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.post-image-caption::first-letter {
    font-size: 150%;
}

.post-image-container {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-left-width: 0;
    border-right-width: 0;
}