.post-image {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.post-image-title {
    text-align: center;
}

.post-image-caption {
    text-align: left;
}

.post-image-container {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}