.project {
    color: $heading-color;
    margin-bottom: 20px;
    margin-left: 10px;
    display: table;
    font-weight: bold;
    border-bottom-style: solid; 
    border-bottom-color: $heading-color;
}