---
layout: default
---

<main class="site__content">
    <div class="container">
        <div class="doc-container">
            {% include sidebar.html docs=true %}
            <div class="doc-content">
                {% if page.title %}
                <div class="doc-content-heading">
                    <h1>{{ page.title }}</h1>
                </div>
                {% endif %}
                {{ content }}
            </div>
        </div>
    </div>
</main>
  
{% include mathjax.html %}

{% comment %}
<!-- Scroll sidebar to current page -->
{% endcomment %}
<script>
    window.onload = function() {
        var item = document.getElementById(
            {% if page.doc-title %}
            "{{ page.doc-title | remove: ' '}}"
            {% else %}
            "{{ page.title | remove: ' '}}"
            {% endif %}
        );
        var topPos = item.offsetTop;
        var sidenav = document.getElementById('sidenav');
        var divHeight = sidenav.clientHeight;
        /* 20 is the combined padding on the top and bottom of the sidenav div */
        var not_visible = topPos > divHeight - 20;
        if (not_visible) {
            document.getElementById('sidenav').scrollTop = topPos;
        }
    };
</script>