---
layout: default
---

<div class="hero--small" {% if page.featured-img %} style="background-image: url({{ site.url }}{{ site.baseurl }}/assets/img/featured-images/{{ page.featured-img }});" {% endif %}>
  <div class="hero__wrap">
    <h1 class="hero__title">{{ page.title }}</h1>
  </div>
</div>
<main class="site__content">
  {% if page.container == true or page.container == nil %}
  <div class="container">
    <div class="page-content">
      {% if page.quick-links %}
      <div class="quick-links">
        <strong class="quick-links-title">Quick Links</strong>: {% for link in page.quick-links %}<a class="quick-links-link" href="{{ link.url }}">{{ link.title }}</a>{% unless forloop.index == page.quick-links.size %}, {% endunless %}{% endfor %}
      </div>
      {% endif %}
      {{ content }}

    </div>
  </div>
  {% else %}
  {{ content }}
  {% endif %}
</main>